<div class="about">
  <div class="about-section">
    <div class="about-content">
      <h2>Sobre Nós</h2>
      <p>
        Na Cezar Construções, temos orgulho em ser uma empresa localizada em Manaus que vai além da construção civil tradicional.
        Somos uma equipe apaixonada por criar soluções que transformam sonhos em realidade, aliando inovação, qualdiade e sustentabildiade. <br/> <br/>
        Com expertise em projetos residenciais, comerciais e industriais, nosso propósito é construir mais do que estruturas físicas:
        buscamos criar espaços que inspirem e atendam às necessidades e desejos de nossos clientes.
        Cada projeto é uma oportunidade de demonstrar nosso compromisso com a excelência, desde a concepção até a entrega final. <br/> <br/>
        Somos movidos pela determinação de contribuir para o desenvolvimento da nossa região, utilizando materiais de qualidade, tecnologias modernas e práticas que respeitam o meio ambiente.
        Mais do que uma empresa, somos parceiros em transformar ideias em resultados concretos, sempre com ética, transparência e um atendimento personalizado. <br/> <br/>
        Na Cezar Construções, não apenas construímos edificações, mas criamos histórias de sucesso e inovação que deixam um impacto positivo para gerações futuras.
      </p>
    </div>
    <div class="about-image">
      <img src="assets/icons/cezar_logo_preto.png" alt="Equipe de construção trabalhando">
    </div>
  </div>
  <div class="values-section">
    <h2>Nossos Pilares</h2>
    <div class="values-cards">
      <div class="card" *ngFor="let value of values">
        <img [src]="value.icon" [alt]="value.title" class="card-icon">
        <h3>{{ value.title }}</h3>
        <p>{{ value.description }}</p>
      </div>
    </div>
  </div>
</div>
