<div class="about">

  <div class="about-section">
    <div class="about-content">
      <h2>Sobre Nós</h2>
      <p>
        Em nossa empresa, Situada em Manaus, a Cezar Construções é mais do que uma empresa de construção civil. Somos especialistas em
        transformar ideias em espaços que refletem sonhos e objetivos. Nosso compromisso é entregar excelência e
        inovação em cada projeto, seja ele residencial, comercial ou industrial.
      </p>
    </div>
    <div class="about-image">
      <img src="assets/icons/cezar_logo_preto.png" alt="Equipe de construção trabalhando">
    </div>
  </div>

  <div class="values-section">
    <h2>Nossos Pilares</h2>
    <div class="values-cards">
      <div class="card" *ngFor="let value of values">
        <img [src]="value.icon" [alt]="value.title" class="card-icon">
        <h3>{{ value.title }}</h3>
        <p>{{ value.description }}</p>
      </div>
    </div>
  </div>
</div>
