.about {
  background-color: #ffffff;
  padding: 4rem 2rem;

  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

    .about-image {
      flex: 1;
      max-width: 500px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);

      img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
      }
    }

    .about-content {
      flex: 1;
      padding-left: 1rem;

      .highlight {
        font-size: 2.5rem;
        font-weight: bold;
        color: #ff740b;
        margin-bottom: 1.5rem;
      }

      p {
        font-size: 1.1rem;
        color: #333333;
        line-height: 1.6;
        margin-bottom: 1rem;
      }

      .slider {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
        cursor: pointer;
      }

      .slider span {
        font-size: clamp(1.2rem, 1.5vw + 1rem, 2rem);
      }

      .slider:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: var(--color-slide);
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
      }

      .slider span {
        position: relative;
        font-family: var(--font-pequena);
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #333333;
      }

      .slider svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--color-svg);
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
      }

      .slider:hover:before {
        width: 100%;
        background: var(--color-slide);
      }

      .slider:hover svg {
        transform: translateX(0);
        stroke: var(--color-svg);
      }

      .slider:active {
        transform: scale(0.95);
      }
    }
  }
}
