<header>
  <app-navbar></app-navbar>
</header>

<main>
    <app-home id="inicio"></app-home>

    <app-about id="sobre"></app-about>

    <app-services id="servicos"></app-services>

    <app-contact id="contato"></app-contact>

    <app-team id="equipe"></app-team>
</main>

  <app-footer></app-footer>

<a
  *ngIf="isVisible"
  class="back-to-top"
  (click)="scrollToTop()"
  aria-label="scroll to to of the page"
>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/d/dd/Ionicons_chevron-up-sharp.svg"
    alt="Back to top icon"
  />
</a>

<a
  href="https://wa.me/5592992969909"
  target="_blank"
  rel="noopener noreferrer"
  class="whatsapp-button"
  aria-label="Contact Us On WhatsApp"
>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
    alt="WhatsApp icon"
  />
</a>
