<div class="services-container">
  <h1>Tornamos o seu sonho realidade!</h1>
  <div class="services-grid">
    <div class="service-card">
      <img src="assets/images/projetosResidenciais.png" alt="Projetos residenciais">
      <h3>Projeto residenciais e comerciais em BIM</h3>
      <p>Projetos residenciais e comerciais avançados em BIM, garantindo eficiência e precisão em cada etapa.</p>
    </div>
    <div class="service-card">
      <img src="assets/images/projetosIndustriais.png" alt="Projetos industriais">
      <h3>Projetos Industriais</h3>
      <p>Atendemos demandas específicas com projetos industriais, desenvolvendo espaços internos, áreas de escritório e galpões industriais.</p>
    </div>
    <div class="service-card">
      <img src="assets/images/projetosComplementares.png" alt="Projetos complementares">
      <h3>Projetos complementares</h3>
      <p>Realizamos projetos estruturais, elétrico, hidráulico, AVCB e de climatização; todos em BIM.</p>
    </div>
    <div class="service-card">
      <img src="assets/images/consultoria.png" alt="Consultoria">
      <h3>Consultoria</h3>
      <p>Consultoria especializada em obras e projetos arquitetônicos, trazendo orientação precisa e soluções inovadoras.</p>
    </div>
  </div>
  <div class="services-footer">
    <p>
      Tendo uma equipe altamente qualificada, pronta para entregar soluções de alta qualidade, seja em projetos residenciais, comerciais ou industriais. Com atenção aos detalhes e inovação,
      <strong>garantimos que cada obra seja realizada com a máxima eficiência e satisfação!</strong>
    </p>
    <button class="cta-button">Quero saber mais</button>
  </div>
</div>
